language: python
python:
- "3.6"

services:
- postgresql
- redis

addons:
  postgresql: "9.6"

install: pip install tox-travis coverage coveralls

before_script: createuser -d robust -U postgres

script: tox

after_script:
- coveralls
